@model GiftShop.Entity.Entities.ContactMessage

@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Ad Soyad</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">E-posta</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Konu</dt>
            <dd class="col-sm-9">@Model.Subject</dd>

            <dt class="col-sm-3">Mesaj</dt>
            <dd class="col-sm-9">@Model.Message</dd>
            <dt class="col-sm-3">Okundu Mu?</dt>
            <dd class="col-sm-9">
                @if (Model.IsRead)
                {
                    <span class="badge bg-success">Evet</span>
                }
                else
                {
                    <span class="badge bg-danger">Hayır</span>
                }
            </dd>
        </dl>
        <a asp-action="Index" class="btn btn-secondary">Geri Dön</a>
    </div>
</div>

