<section class="section banner" aria-label="banner" data-section>
    <div class="container">

        <ul class="banner-list">

            <li>
                <div class="banner-card banner-card-1 has-before hover:shine">

                    <p class="card-subtitle">New Collection</p>

                    <h2 class="h2 card-title">Discover Our Autumn Skincare</h2>

                    <a href="#" class="btn btn-secondary">Explore More</a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/giftshopunklasörü/glowing-master/assets/images/banner-1.jpg")')"></div>

                </div>
            </li>

            <li>
                <div class="banner-card banner-card-2 has-before hover:shine">

                    <h2 class="h2 card-title">25% off Everything</h2>

                    <p class="card-text">
                        Makeup with extended range in colors for every human.
                    </p>

                    <a href="#" class="btn btn-secondary">Shop Sale</a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/giftshopunklasörü/glowing-master/assets/images/banner-2.jpg")')"></div>

                </div>
            </li>

        </ul>

    </div>
</section>