<section class="section banner" aria-label="banner" data-section>
    <div class="container">

        <ul class="banner-list">

            <li>
                <div class="banner-card banner-card-1 has-before hover:shine">

                    <p class="card-subtitle" style="color: wheat; font-size: 18px; font-style: italic; font-family: 'Arial Black', serif; font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); letter-spacing: 0.5px;">
                        Anılarınızı Çerçeveleyin
                    </p>

                    <h2 style="color: #d8bfa0; font-size: 20px; font-family: 'Georgia', serif; font-weight: bold; font-style: italic; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); letter-spacing: 0.8px;">
                        Sevdiklerinizle paylaştığınız özel anlar artık şık bir çerçevede.
                    </h2>


					<br />
                    <a href="/Products/Details/1352" class="btn" style="background-color: #f5f0e6; color: #8b7e66; border: 1px solid #d8bfa0; padding: 8px 16px; border-radius: 6px; font-weight: 600; transition: background-color 0.3s ease;">
                        İncele
                    </a>

                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/Img/0c7a6cf7-873b-4856-8a52-eb7308374be2.jpg")')"></div>

                </div>
            </li>

            <li>
                <div class="banner-card banner-card-2 has-before hover:shine">

                    <p style="color: wheat; font-family: 'Arial Black', serif; font-size: 15px; font-style: italic; text-shadow: 1px 1px 2px rgba(0,0,0,0.1); margin-bottom: 10px;">
                        PARLAYAN ANILAR, ŞIK ÇERÇEVE
                    </p>

               @*      <p class="card-text">
                        Makeup with extended range in colors for every human.
                    </p>
 *@
                    <a href="/Products/Details/1367" class="btn" style="display: block; margin: 0 auto; background-color: #f5f0e6; color: #8b7e66; border: 1px solid #d8bfa0; padding: 8px 16px; border-radius: 6px; font-weight: 600; transition: background-color 0.3s ease;">
                        İncele
                    </a>
                    <div class="has-bg-image" style="background-image: url('@Url.Content("~/Img/08a0d3d1-c3cd-41f5-9c6f-3b7d22a2e81d.jpg")')"></div>

                </div>
            </li>

        </ul>

    </div>
</section>