<section class="section feature" aria-label="feature" data-section>
    <div class="container">

        <h2 class="h2-large section-title " style="color:black; font-family: 'Georgia', serif; font-weight: bold; font-size: 2.5rem; text-shadow: 1px 1px 3px rgba(150, 130, 100, 0.5); letter-spacing: 1px; margin-bottom: 1rem; margin-bottom: 9rem;">
            NEDEN HEDİYE STORE?
        </h2>


        <ul class="flex-list">

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/Img/gift.png")" width="400" height="400" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">

                    <h3 class="h3 card-title">Çevre Dostu Ambalaj</h3>

                 @*    <p class="card-text">
                        All Grace formulations adhere to strict purity standards and will never contain harsh or toxic
                        ingredients
                    </p> *@

                </div>
            </li>

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/Img/take-a-photo.png")" width="260" height="250" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">

                    <h3 class="h3 card-title">Özgün ve Anlamlı Tasarımlar</h3>

             

                </div>
            </li>

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/Img/gift-card.png")" width="204" height="236" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">


                    <h3 class="h3 card-title">Hızlı ve Güvenilir Teslimat</h3>

                  

                </div>
            </li>

        </ul>

    </div>
</section>