<section class="section feature" aria-label="feature" data-section>
    <div class="container">

        <h2 class="h2-large section-title">Why Shop with Glowing?</h2>

        <ul class="flex-list">

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/giftshopunklasörü/glowing-master/assets/images/feature-1.jpg")" width="204" height="236" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">

                    <h3 class="h3 card-title">Guaranteed PURE</h3>

                    <p class="card-text">
                        All Grace formulations adhere to strict purity standards and will never contain harsh or toxic
                        ingredients
                    </p>

                </div>
            </li>

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/giftshopunklasörü/glowing-master/assets/images/feature-2.jpg")" width="204" height="236" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">

                    <h3 class="h3 card-title">Completely Cruelty-Free</h3>

                    <p class="card-text">
                        All Grace formulations adhere to strict purity standards and will never contain harsh or toxic
                        ingredients
                    </p>

                </div>
            </li>

            <li class="flex-item">
                <div class="feature-card">

                    <img src="@Url.Content("~/giftshopunklasörü/glowing-master/assets/images/feature-3.jpg")" width="204" height="236" loading="lazy"
                         alt="Ingredient Sourcing" class="card-icon">


                    <h3 class="h3 card-title">Ingredient Sourcing</h3>

                    <p class="card-text">
                        All Grace formulations adhere to strict purity standards and will never contain harsh or toxic
                        ingredients
                    </p>

                </div>
            </li>

        </ul>

    </div>
</section>