<section class="section offer" id="offer" aria-label="offer" data-section>
    <div class="container">

        <figure class="offer-banner">
            <img src="@Url.Content("~/Img/11-adet-ayicikli-ledli-cicek-buketi-kcm72303435-2f5b90ac-d025-490b-808e-cb0db2b73554.jpeg")" width="305" height="408" loading="lazy" alt="offer products" class="w-100">

            <img src="@Url.Content("~/Img/ledli-11-li-renkli-ayicik-buketi-kcm69959966-47f1eec5-e85a-4c8b-82bf-c2411d9f9292.jpg")" width="450" height="625" loading="lazy" alt="offer products" class="w-100">
        </figure>


        <div class="offer-content">

            <p class="offer-subtitle">
                <span class="span">Özel Tasarımlar</span>

            </p>

            <h2 class="h2-large section-title">Sevgi dolu anlara yumuşacık dokunuş.</h2>

            <p class="section-text">
                Sevimli ayıcık buketi, hediyenize neşe ve sıcaklık katacak.
            </p>


            <a href="/Products?categoryId=29" class="btn btn-primary">İncele</a>

        </div>

    </div>
</section>
