<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				<a class="nav-link" href="/Admin/Main">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-display"></i></div>
					Ana Ekran
				</a>
				<a class="nav-link" href="/Admin/AppUsers">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
					Kullanıcı Yönetimi
				</a>
				<a class="nav-link" href="/Admin/Categories">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
					Kategori Yönetimi
				</a>
				<a class="nav-link" href="/Admin/Products">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-gifts"></i></i></div>
					Ürün Yönetimi
				</a>
				<a class="nav-link" href="/Admin/Orders">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-gift"></i></div>
					Sipariş Yönetimi
				</a>
				<a class="nav-link" href="/Admin/OrderDetails">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-dolly"></i></div>
					Sipariş Detayları 
				</a>
				<a class="nav-link" href="/Admin/Shipments">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-dolly"></i></div>
					Kargo Yönetimi
				</a>
				<a class="nav-link" href="/Admin/Sliders">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-dolly"></i></div>
					Slider Yönetimi
				</a>
				<a class="nav-link" href="/Admin/ContactMessages">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-dolly"></i></div>
					İletişim Formları
				</a>
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as:</div>
			Admin
		</div>
	</nav>
</div>