@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_siteLayout.cshtml";
}

<section class="container my-5">
    <h2 class="mb-4 fw-bold text-dark">Hakkımızda</h2>

    <p>
        HediyeStore olarak, hediyenin sadece bir eşya değil; bir duyguyu, bir anıyı ve bir tebessümü taşıdığına inanıyoruz.
    </p>

    <p>
        İşte tam da bu yüzden 2025 yılında "insanların sevdiklerine duygularını en özel şekilde iletebilmeleri" için yola çıktık.
    </p>

    <p>
        Küçük bir ekip olarak başladığımız bu yolculukta; kalite, özgünlük ve müşteri memnuniyetini merkeze alarak her geçen gün büyüyen bir aile haline geldik. Bugün binlerce farklı ürün seçeneğimizle, Türkiye'nin dört bir yanına ulaşıyor; özel günleri daha anlamlı kılmak için çalışıyoruz.
    </p>

    <p>
        Ne Sunuyoruz?
		<br />
        🎁 Kişiye özel hediyeler
        <br />
        🕯️ El yapımı dekoratif ürünler
        <br />
        🎉 Doğum günü, yıl dönümü ve özel gün temalı ürünler
        <br />
        💌 Anlam taşıyan küçük mutluluklar...
    </p>
	<br />
    <p>
        🌟"Sevdiklerinizi mutlu etmek için bir neden aramayın.
        Her hediye, kalpten gelen bir tebessümdür."

    </p>
	<br />
    <p class="fw-bold text-dark mt-4">HediyeStore Ekibi</p>
</section>

