@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_siteLayout.cshtml";
}

<article>

    <!--
      - #HERO
    -->

    <section class="section hero" id="home" aria-label="hero" data-section>
        <partial name="_HeroSlider" model="@(Model.Sliders)" />
    </section>
    <!--
      - #COLLECTION
    -->

    <section class="section collection" id="collection" aria-label="collection" data-section>
        <partial name="_Collection"  />
    </section>

    <!--
      - #SHOP
    -->

    <section class="section shop" id="shop" aria-label="shop" data-section>
        <partial name="_Shop1" />
    </section>

    <section class="section shop" id="shop" aria-label="shop" data-section>
        <partial name="_Shop2" />
    </section>

    <!--
      - #BANNER
    -->

    <section class="section banner" aria-label="banner" data-section>
        <partial name="_Banner" />
    </section>

    <!--
      - #FEATURE
    -->

    <section class="section feature" aria-label="feature" data-section>
        <partial name="_Feature" />
    </section>





    <!--
      - #OFFER
    -->

    <section class="section offer" id="offer" aria-label="offer" data-section>
        <partial name="_Offer" />
    </section>


    <!--
      - #BLOG
    -->
    <!--
      - #BLOG / KEŞFETMEYE DEVAM ET
    -->
    <section class="section blog" id="blog" aria-label="blog" data-section>
        <div class="container">

            <h2 class="h2-large section-title">Keşfetmeye Devam Et</h2>

            <ul class="flex-list">

                <li class="flex-item">
                    <div class="blog-card">
                        <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                            <img src="~/Img/1000_F_473119026_OLeu1GNbwBILQNJLo0M2jsnelMKw6odP.jpg" width="700" height="450" loading="lazy" alt="Mağazamız"
                                 class="img-cover">
                        </figure>

                        <h3 class="h3">
                            <a href="/Home/About/" class="card-title">Bizi Tanıyın</a>
                        </h3>

                        <a href="/Home/About/" class="btn-link">
                            <span class="span">Hakkımızda</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

                <li class="flex-item">
                    <div class="blog-card">
                        <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                            <img src="~/Img/1000_F_293861511_TNn1xOLlruoi2ipDnsQvyMSAudMu49GO.jpg" width="700" height="450" loading="lazy" alt="Hediye Blogu"
                                 class="img-cover">
                        </figure>

                        <h3 class="h3">
                            <a href="/Home/Blog/" class="card-title">Hediye Rehberimiz</a>
                        </h3>

                        <a href="/Home/Blog/" class="btn-link">
                            <span class="span">Bloğa Git</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

                <li class="flex-item">
                    <div class="blog-card">
                        <figure class="card-banner img-holder has-before hover:shine" style="--width: 700; --height: 450;">
                            <img src="~/Img/1000_F_243394535_1NxyweMmLXTLqFjIaLpk34xpIL24dT9V.jpg" width="700" height="450" loading="lazy" alt="Biz Kimiz?"
                                 class="img-cover">
                        </figure>

                        <h3 class="h3">
                            <a href=" @Url.Action("Index", "Products", new { categoryId = 6 })" class="card-title">Kurumsal Hediyeler</a>
                        </h3>

                        <a href="@Url.Action("Index", "Products", new { categoryId = 6 })" class="btn-link">
                            <span class="span">Ürünleri Keşfet</span>
                            <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </li>

            </ul>

        </div>
    </section>

</article>
