
@{
    ViewData["Title"] = "VizyonMisyon";
    Layout = "~/Views/Shared/_siteLayout.cshtml";
}


<section class="container my-5">
    <h1 class="mb-4">Vizyon & Misyon</h1>
	<br />

    <div class="mb-5">
        <h2>Vizyonumuz</h2>
		<br />
        <p>
            2028 yılına kadar Türkiye’nin en güvenilir, yenilikçi ve müşteri odaklı hediye platformu olmak.
            Sektörümüzde kalite ve müşteri memnuniyetinde standartları belirleyen lider marka olarak, anlamlı anların vazgeçilmez adresi olmayı hedefliyoruz.
        </p>
    </div>

    <div>
        <h2>Misyonumuz</h2>
		<br />
        <p>
            Müşterilerimize, her zevke ve bütçeye uygun, kaliteli ve özgün hediye seçenekleri sunarak özel anları unutulmaz kılmak.
            Yenilikçi çözümler ve kusursuz hizmet anlayışıyla, hızlı ve güvenilir alışveriş deneyimi sağlamak, sürdürülebilir değerler yaratmak misyonumuzdur
        </p>
    </div>
</section>